* {
  margin: 0;
  padding: 0;
}

a {
  color: #ffff;
  text-decoration: none;
  transition: 0.3;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Open Sans',
  'Helvetica Neue',
  sans-serif;
  background: #23232e;
  height: 8vh;
}

/*+main {
  background: url("bg.jpg") no-repeat
  center center;
  background-size: cover;
  height: 40vh; 
}*/

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #ffff;
  margin: 8px;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
  }
  
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

body, html {
  font-family: sans-serif;
  margin: 0;
}

.img-1, .img-2, .img-3, .img-4 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  opacity: 0.75;
  position: relative;
  width: 100vw;
}

.img-1 {
  background-image: url('../img/Lagoa1.jpg');
}

.img-2 {
  background-image: url('../img/Lagoa_Curso.jpg');
}

.img-3 {
  background-image: url('../img/Lagoa_Pista_Curral.jpg');
}

.img-4 {
  background-image: url('../img/Museu_Engenhoca_Pequena.jpg');
}

.static {
  position: relative;
}

.content {
  background-color: #fff;
  color: #5a5a5c;
  padding: 50px;
  text-align: left;
}

h1 {
  background-color: #111;
  color: #fff;
  font-size: 80px;
  font-weight: 400;
  left: 0;
  letter-spacing: 10px;
  margin: auto;
  padding: 20px 20px 20px 28px;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  width: intrinsic;
  width: -moz-max-content;
  width: -webkit-max-content;
}

h3 {
  color: #111;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media screen and (max-width: 1030px) {
  .img-1, .img-2, .img-3, .img-4 {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 35px;
    letter-spacing: 5px;
    padding: 10px;
  }
  h3 {
    font-size: 18px;
    text-align: center;
  }
  p {
    line-height: 1.5em;
    text-align: center;
  }
  .content {
    padding: 50px 5px;
  }
}

.linha{
	width: 960px;
	margin: 0 auto;
	overflow: auto;
	padding: 5px 0;
}

.col12{
	width: 940px;
}

.footer{
	background: #1f3c58;
	color: #ebebeb;
	padding: 20px 0;
	text-align: center;
	font-weight: 100;
}